{% extends '/Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title" class="control-label">{{ 'lbl.Title'|trans|ucfirst }}</label>
        {{ form_widget(form.title, {'attr' : {'class' : 'title'}}) }}
      </div>
    </div>
  </div>

  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabContent" aria-controls="content" role="tab"
               data-toggle="tab">{{ 'lbl.Content'|trans|capitalize }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            <div class="row">
              <div class="col-md-8">
                <div class="panel panel-default panel-editor">
                  <div class="panel-heading">
                    {{ form_label(form.text) }}
                  </div>
                  <div class="panel-body">
                    {{ form_widget(form.text) }}
                  </div>
                  {{ form_errors(form.text) }}
                </div>
              </div>
              <div class="col-md-4">
                {{ form_row(form.background_image) }}
                {{ form_row(form.form) }}

                <div class="panel panel-default">
                  <div class="panel-heading">
                    {{ 'lbl.Settings'|trans|ucfirst }}
                  </div>
                  <div class="panel-body">
                    {{ form_label(form.show_title) }}
                    {{ form_widget(form.show_title) }}
                    {{ form_errors(form.show_title) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showContactDeleteForm %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

  {% if showContactDeleteForm %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(contactForm.title)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
